astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
certifi==2020.4.5
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crosscompute==0.7.7.2
crosscompute-audio==0.7.5
crosscompute-geotable==0.7.7.4
crosscompute-image==0.7.6.1
crosscompute-integer==0.7.3
crosscompute-select==0.7.5
crosscompute-table==0.7.7.1
crosscompute-text==0.7.3
crosscompute-types==0.7.7
crosscompute-video==0.7.5
cryptography==2.9
decorator==4.4.2
dogpile.cache==0.9.0
future==0.18.2
hupper==1.10.2
idna==2.9
invisibleroads==0.2.3
invisibleroads-macros==0.9.5.1
invisibleroads-macros-configuration==1.0.1
invisibleroads-macros-descriptor==1.0.1
invisibleroads-macros-disk==1.0.2
invisibleroads-macros-log==1.0.2
invisibleroads-macros-security==1.0.0
invisibleroads-macros-text==1.0.0
invisibleroads-posts==0.7.2
invisibleroads-uploads==0.4.2.4
isort==4.3.21
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
numpy==1.18.2
os.path2==0.0.4
packaging==20.3
pandas==1.0.3
PasteDeploy==2.1.0
pbr==5.4.4
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
pudb==2019.2
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
pyramid==1.10.4
pyramid-jinja2==2.8
pyTelegramBotAPI==0.3.0
pytest==5.4.1
python-dateutil==2.8.1
python-telegram-bot==12.5.1
pytz==2019.3
requests==2.7.0
simplejson==3.17.0
six==1.14.0
socketIO-client==0.7.2
stevedore==1.32.0
telebot==0.0.3
tornado==6.0.4
translationstring==1.3
typing==3.7.4.1
urllib3==1.25.8
urwid==2.1.0
venusian==3.0.0
wcwidth==0.1.9
WebOb==1.8.6
websocket-client==0.57.0
wrapt==1.11.2
zope.deprecation==4.4.0
zope.interface==5.0.2
